.quote-view-detail {

  .save-changes-confirm {
    position: sticky;
    top: 56px;
    z-index: $z-index-save-changes-confirm;
    background: black;

    .save-changes-confirm__container {
      height: 60px;

      .save-changes-confirm__text {
        color: white;
      }
    }


  }

  .quote-view-detail__product {
    .product__heading {
      margin-top: 4%;
    }

    .product__list {
      .products__list__cell-product {
        .cell-product__image {
          width: 40px;
          height: 40px;
          margin: 0 10% 0 4%;
        }

      }

      .product__list__quantity-price {
        .Polaris-Grid {
          margin-top: 4%;

          .products__list__quantity {
            input {
              width: 60px;
              height: 30px;
            }
          }

          .products__list__price {

            input {
              width: 60px;
              height: 30px;
            }
          }

          .products__list__total {
            margin-top: 8%;
          }
        }
      }
    }
  }


  .quote-view-detail__card {
    margin-top: 2%;
  }

  .card__viewed-product-list {
    margin-left: 2%;

    .viewed-product-list__content {
      margin-left: 4%;
    }
  }


}

.quote-view-detail__timeline {
  margin-top: 4%;

  .timeline__heading {
    margin-bottom: 4%;
  }

  .timeline__comment {
    margin-top: 4%;
    border-left: 4px solid #e3e6e9;
    padding: 2% 2% 0 2%;

    &:before {
      content: "";
      position: relative;
      display: flex;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #5c6ac4;
      inset: 22px -25px;
    }

  }

  .timeline__status {
    border-left: 4px solid #e3e6e9;
    padding: 2% 2% 0 2%;

    &:before {
      content: "";
      position: relative;
      display: flex;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #5c6ac4;
      inset: 16px -25px;
    }
  }
}




.quote-view-detail__modal-discount {
  .modal-discount__type-cost {
    .type-cost__type {
      width: 46%;
    }

    .type-cost__cost {
      width: 46%;
    }
  }
}

.list-box {
  width: 100vw;
}