// .quote-list {
//     display: flex;
//     width: 100%;

// }

.quote-list__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card-wrapper__btn-search {
        width: 24%;
    }

    .quote-list__popover-calendar {

        .card-wrapper__btn-calendar {
            display: flex;

            .Polaris-Button {
                .Polaris-Button__Content {
                    width: 200px;
                    flex-direction: row-reverse;

                    .Polaris-Button__Icon {
                        margin-left: 1%;
                    }
                }
            }
        }
    }


    .card-wrapper__btn-create {
        .Polaris-Button {
            background: linear-gradient(180deg, #6371c7, #5563c1);

            &:hover {
                background: linear-gradient(180deg, #5c6ac4, #4959bd);
            }

            &:active {
                background: linear-gradient(180deg, #3f4eae, #3f4eae);
            }
        }
    }

    .quote-list__data-table {
        .data-table__btn-view {
            .Polaris-Button__Icon {
                color: #5c6ac4;
            }
        }
    }

}



.Polaris-PositionedOverlay {

    .Polaris-Box {

        .Polaris-Popover__Content {
            max-width: fit-content;
            max-height: fit-content;

            .quote-list__date-picker {
                max-width: 600px;

                .quote-list__date-picker__btn-group {
                    .Polaris-ButtonGroup {
                        justify-content: space-between;
                        margin-top: 2%;
                    }

                }
            }
        }
    }

}