.quote-list__card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card-wrapper__btn-search {
        width: 24%;
    }

    .quote-list__popover-calendar {

        .card-wrapper__btn-calendar {
            display: flex;

            .Polaris-Button {
                .Polaris-Button__Content {
                    width: 200px;
                    flex-direction: row-reverse;

                    .Polaris-Button__Icon {
                        margin-left: 1%;

                    }
                }
            }
        }
    }

}

.quote-list__data-table {
    width: 100%;

    .quote-list__select-assign {
        width: 70px;
    }

    .Polaris-IndexTable__TableHeadingSortIcon {
        opacity: 0.5;

    }

    &:active {
        .Polaris-IndexTable__TableHeadingSortIcon {
            opacity: 1;

        }
    }

    .data-table__btn-view {
        .Polaris-Icon__Svg {
            fill: #5c6ac4;
        }
    }

    .quote-list__select-index-table {
        width: fit-content;
        position: relative;
        left: 96%;
    }
}

.quote-list__modal-delete{
    .modal-delete__btn{
        display: flex;
        flex-direction: row-reverse;
    }
}

.Polaris-PositionedOverlay {

    .Polaris-Box {

        .Polaris-Popover__Content {
            max-width: fit-content;
            max-height: fit-content;

            .quote-list__date-picker {
                max-width: 600px;
                padding: 4%;

                .quote-list__date-picker__btn-group {
                    .Polaris-ButtonGroup {
                        justify-content: space-between;
                        margin-top: 2%;
                    }

                }
            }
        }
    }

}