//@import "../../../node_modules/bootstrap/scss/functions";
//@import "../../../node_modules/bootstrap/scss/variables";
//@import "../../../node_modules/bootstrap/scss/maps";
//@import "../../../node_modules/bootstrap/scss/mixins";
//@import "../../../node_modules/bootstrap/scss/utilities";

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/@shopify/polaris/build/esm/styles.css";



// custom btn-primary 

.Polaris-Button--primary {

    background: linear-gradient(180deg, #6371c7, #5563c1);

    &:hover {
        background: linear-gradient(180deg, #5c6ac4, #4959bd);
    }

    &:active {
        background: linear-gradient(180deg, #3f4eae, #3f4eae);
    }
}


body {
    font-size: 14px
}

.icon404{
    width: 100px;
    height: auto;
}

tr {
    // display: flex;
}

.hide-element{
    visibility: hidden;
}

.show-element {
    visibility: visible;
}




@import "../styles/quoteListPage";
@import "../styles/quoteListPage/quoteListDetail";

