@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/@shopify/polaris/build/esm/styles.css";
@import "variables.scss";



// custom btn-primary 

.Polaris-Button--primary {

    background: linear-gradient(180deg, #6371c7, #5563c1);

    &:hover {
        background: linear-gradient(180deg, #5c6ac4, #4959bd);
    }

    &:active {
        background: linear-gradient(180deg, #3f4eae, #3f4eae);
    }
}


body {
    font-size: 14px
}

.icon404 {
    width: 100px;
    height: auto;
}

tr {
    // display: flex;
}

.hide-element-visibility {
    visibility: hidden;
}

.show-element-visibility {
    visibility: visible;
}




@import "../styles/quoteListPage";
@import "../styles/quoteListPage/quoteListDetail";